<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>
    <title>Registration Form</title>


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{css/style.css}" />
	<link rel="stylesheet" href="../static/css/materia/bootstrap.min.css"  th:href="@{css/materia/bootstrap.min.css}" />
 
</head>
<body>
<div  layout:fragment="content" class="container mySpace">
    <!-- Static navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">TaskQuery</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
            
      <li class="nav-item" sec:authorize="isAuthenticated()">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
      <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
        <a class="nav-link" href="/users">Users</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/response">Response</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/answer">Answer</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
      <input class="form-control mr-sm-2" type="hidden" />
      <button class="btn btn-danger my-2 my-sm-0" type="submit">Logout</button>
    </form>
  </div>
</nav>
</div>
    <!-- Main component for a primary marketing message or call to action -->
    <div  layout:fragment="content" class="container mySpace">
    	<form th:action="@{/addTask}" th:object="${task}" method="post">

			<div class="form-group">
				<label for="date" class="form-control-label">Date</label> 
				<input type="date" class="form-control" th:field="*{date}" id="date" />
				<div class="text text-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
			</div>
			<div class="form-group">
				<label for="startTime" class="form-control-label">Start Time</label> 
				<input type="time" class="form-control" th:field="*{startTime}" id="startTime" />
				<div class="text text-danger" th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}"></div>
			</div>
			<div class="form-group">
				<label for="stopTime" class="form-control-label">Stop Time</label> 
				<input type="time" class="form-control" th:field="*{stopTime}" id="stopTime"/>
				<div class="text text-danger" th:if="${#fields.hasErrors('stopTime')}" th:errors="*{stopTime}"></div>
			</div>
			<div class="form-group">
				<label for="description" class="form-control-label">Description (Write Your Department name in Beginning)</label> 
				<textarea class="form-control" th:field="*{description}" id="description"> </textarea>
				<div class="text text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
			</div>
			<input type="submit" value="Submit" class="btn btn-primary" />
    <p class="text text-center">
	&copy; 2020 - Made By Aman
	</p>
	</form>
	</div>

 <!-- /container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{webjars/jquery/1.9.1/jquery.min.js}"></script>
  <script th:src="@{webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</body>
</html>